# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.python-version

# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local Database
db.sqlite3